/build/
/out/
/target/
/dist/
/bin/

/logs/
*.log
*.err
*.tmp
*.temp
*.swp

*.class
*.jar
*.war
*.ear

.gradle/
gradle-app.setting
!gradle-wrapper.jar
.cachedir/

pom.xml.tag
pom.xml.bak
pom.xml.versions
release.properties
dependency-reduced-pom.xml
jakarta-ee-8/
jakarta-ee-9/
jakarta-ee-10/

.idea/
.project
.classpath
.factorypath
.settings/
*.iml
*.ipr
*.iws

.DS_Store
Thumbs.db

.vertx/
vertx-cache/
run/
vertx-local.json
conf/*.local.json

/server/solr/data/
/solr/data/
/server/logs/

*kafka_logs*
*zookeeper_data*
*state-store*
__consumer_offsets/
meta.properties
/data/kafka/
/data/zookeeper/

*.lock

docker/solr/product-core/data/
